.mid{
    text-align: center;
    margin-top: 80px;
    background-color:#77ACF1;
    padding: 20px;
    border-radius: 10px;
}

#brand{
    font-size:xx-large;
    font-family: cursive;
    font-weight: 600;
    color: white;
    margin-right: 0px;
}

.redirect_signup {
    margin: 10px 0px 10px 0px;
    text-align: left;
}

body{
    background-color: rgb(213, 224, 248);
}